/* GENERAL STYLES*/
:root {
  --logo-color: #2196f3;
  --text-main-color: #757575;
  --title-main-color: #212121;
  --title-bg-color: #2f303a;
  --title-second-color: #ffffff;
  --border-color: #ff6347;
  --button-color: #f5f4fa;
}
body {
  color: var(--black-color);
  font-family: "roboto", "sans-serif";
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

li {
  list-style: none;
}

.logo {
  color: var(--logo-color);
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.center-text {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
}

a {
  text-decoration: none;
}

/* STYLING FOR HEADER*/

.header-navigation-link {
  color: var(--title-main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
/*I added latter-spacing for the ones
that are given different in body figma page. 
& also for footer*/
.header-navigation-link:hover,
.header-navigation-link :focus {
  color: var(--logo-color);
}

.current {
  color: var(--logo-color);
}

.header-contact-link {
  color: var(--text-main-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--logo-color);
}

/*STYLING FOR MAIN*/
/*SECTION-1*/
/*HERO SECTION*/

.hero-section {
  background-color: var(--title-bg-color);
}

.title {
  color: var(--title-second-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-button {
  color: var(--title-second-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--logo-color);
}
.hero-button:hover,
.hero-button:focus {
  color: var(--border-color);
}
/*SECTION-2*/

.feature-title {
  color: var(--title-main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.text {
  color: var(--text-main-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
}

/*FOOTER*/

.bottom {
  background-color: var(--title-bg-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: var(--title-second-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}
/*used variable for white(#FFFFFF) color, I hope that was expected*/
.footer-contact-link {
  color: var(--title-second-color);
  opacity: 0.6;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

/*PORTFOLIO PAGE STYLING*/

button:hover,
button:focus {
  cursor: pointer;
  border-style: solid;
  border-color: var(--logo-color);
  text-decoration: underline;
  text-decoration-color: var(--logo-color);
}

.button-click {
  color: var(--title-second-color);
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
}

.button-click-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
}

.button-click-portfolio:hover,
.button-click-portfolio:focus {
  background-color: var(--logo-color);
  color: var(--title-second-color);
}

.captions {
  color: var(--title-main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.text-portfolio {
  color: var(--text-main-color);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
}
/*END FOR NOW*/
